---
import childProcess from 'node:child_process'
import { version, repository } from '../../package.json'
import { Github, GitFork, Box } from 'lucide-static';
import Icon from './Icon.astro';
const currentPath = Astro.url.pathname && Astro.url.pathname !== '/' ? Astro.url.pathname : 'index';

const hash = childProcess
  .execSync("git rev-parse --short HEAD")
  .toString()
  .trim();
---

<hr />
<footer>
  <ul>
    <li><Icon icon={Github} size="14" /> <a href={repository.url}>Join us on github</a></li>
    <li><Icon icon={GitFork} size="14" /> <a href=`${repository.url}/blob/main/src/pages/${currentPath}.mdx`>Improve this page</a></li>
    <li><Icon icon={Box} size="14" /> v{version} : {hash}</li>
  </p>
</footer>