---
import { ClientRouter } from 'astro:transitions'
import '../reset.css'
import '../style.scss'
const title = Astro.props.frontmatter?.title || Astro.props.title
const description = Astro.props.frontmatter?.description || Astro.props.description
const type = Astro.props.frontmatter?.description || Astro.props.type || 'website'

---
<!doctype html>
<html lang="en" theme="cat">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/appicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <meta property="og:image" content="/opengraph.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:title" content={title} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content={type} />
    <meta property="og:description" content={description} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <main aria-label="Content">
      <slot />
    </main>
    <script>
      let theme = document.querySelector('html').getAttribute('theme')
      document.addEventListener('keydown', function(event) {
        if (event.key === 't') {
          let theme = document.querySelector('html').getAttribute('theme')
          document.querySelector('html').setAttribute('theme', theme === 'cat' ? 'candy' : 'cat')
        }
      })
      document.addEventListener('keydown', function(event) {
        if (event.key === 'Backspace' || event.key === 'Escape') {
          window.history.back()
        }
      })
    </script>
  </body>
</html>